
# ================================================== 
# 
# Noise 
# 
# ================================================== 

# ==================================================
# Jackal
# ==================================================
error.log

# ==================================================
# PhpStorm
# ==================================================
.idea

# ==================================================
# Apache
# ==================================================
# The Apache config file
.htaccess

# ==================================================
# Operating System
# ==================================================

# (Mac) Metadata file
.DS_Store

# (Win) Metadata file
desktop.ini

